<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<title> Brian Rudacille </title>
	</head>

body {
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #111111;
	font-size: 62.5%;
}	

header, main, footer {
	background-color: #777;
	font-size: 1.6em;
	width: 90%;
	max-width:1024px;
	text-align: center;
	margin: 0 auto;
}

header {
	padding: 1.875em 0;
	background-color: #eeeeee;
}

header h1 {
	text-align: center;
}

header h3 {
	text-align: center;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

main h2 {
	padding: 0.625em 0 0.625em 0.625em;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.75em;
}

p {
	padding: .15em;
	
}

article h1{
	text-decoration: underline;

}

footer {
	text-align: center;
	padding: 3em;
	width: 90%;
	max-width: 1024px;
	background-color: #ddd;
}

footer p {
	display: inline-block;
	font-size: 14.75px;
}

img {
	padding-top: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	float: right; margin 0px 0px 0px 0px 
}

#line {
	color: #eaeaea;
}

.paragraph {
	color: #aeaeae;
	text-align: left;
	margin-left: 2em;
	margin-right: 2em;
}

.before {
	padding-top: 1rem;
	padding-left: 1rem;
	padding-bottom: 1rem;
	float: left; margin 0px 0px 0px 0px 
}